:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0E1117;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

img {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  border-radius: 6px;
  filter: invert();
}

/* Base Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #B3B8C7; /* Lighter font color for contrast against dark background */
  background-color: #0E1117;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding: 1rem;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: bold;
}

h1 {
  font-size: 2em;
  border-bottom: 2px solid #666;
  padding-bottom: 10px;
  color: #E5E8ED; /* Even lighter color for primary heading */
}

h2 {
  font-size: 1.75em;
  border-bottom: 1px solid #444; /* Adjusted for dark theme */
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5, h6 {
  font-size: 1em;
  font-weight: normal;
}

/* Paragraphs */
p {
  margin-bottom: 16px;
}

/* Blockquotes */
blockquote {
  margin: 20px 0;
  padding-left: 20px;
  border-left: 3px solid #333; /* Darker border color */
  font-style: italic;
  color: #888; /* Adjusted color for dark theme */
}

/* Code blocks and inline code */
pre {
  background-color: #1E2028; /* Slightly lighter than the main background */
  padding: 10px;
  border-radius: 5px;
  overflow-x: scroll;
  color: #A5A9B5; /* Adjusted text color for better visibility */
}

code {
  font-family: 'Courier New', Courier, monospace;
  background-color: #1E2028;
  padding: 2px 5px;
  border-radius: 3px;
  color: #A5A9B5;
}

/* Links */
a {
  color: #4A90E2; /* A shade of blue that should pop on dark backgrounds */
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #357ABD; /* A darker shade on hover */
}

/* Lists */
ul, ol {
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #333;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #1E2028;
}
